Repository kabrony/vot1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @villageofthousands/core-team, @villageofthousands/memory-team, @villageofthousands/reasoning-team, @villageofthousands/dashboard-team, @villageofthousands/ui-team, @villageofthousands/mcp-team, @villageofthousands/integrations-team, @villageofthousands/docs-team, @villageofthousands/devops-team

.github/CODEOWNERS:

# VOT1 Code Ownership

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these users will be requested for review when someone opens a pull request.
* @villageofthousands/core-team

# Memory Management System
/src/vot1/memory/ @villageofthousands/memory-team

# OWL Reasoning Engine
/src/vot1/owl/ @villageofthousands/reasoning-team

# Dashboard and Visualization
/src/vot1/dashboard/ @villageofthousands/dashboard-team
/src/vot1/dashboard/static/ @villageofthousands/ui-team

# MCP Hybrid Automation 
/src/vot1/mcp/ @villageofthousands/mcp-team
/scripts/mcp_hybrid_automation.py @villageofthousands/mcp-team

# Integration Layer (GitHub, Composio, etc.)
/src/vot1/integrations/ @villageofthousands/integrations-team

# Documentation
/docs/ @villageofthousands/docs-team
*.md @villageofthousands/docs-team

# CI/CD and GitHub Actions
/.github/workflows/ @villageofthousands/devops-team

Update core application files with enhanced functionality and UI improvements
  src/vot1/code_analyzer.py
  src/vot1/dashboard/__init__.py
  src/vot1/dashboard/api.py
  src/vot1/dashboard/github_ecosystem_api.py
  src/vot1/dashboard/mcp_hybrid_api.py
  src/vot1/dashboard/routes.py
  src/vot1/dashboard/server.py
  src/vot1/dashboard/static/css/style.css
  src/vot1/dashboard/static/index.html
  src/vot1/dashboard/static/js/dashboard.js
  src/vot1/development_feedback_bridge.py
  src/vot1/github_app_bridge.py
  src/vot1/github_composio_bridge.py
  src/vot1/github_ui.py
  src/vot1/memory.py
  src/vot1/owl_reasoning.py
  src/vot1/perplexity_client.py
  src/vot1/self_improvement_agent.py
  src/vot1/self_improvement_workflow.py
  src/vot1/system_check.py
  src/vot1/vot_mcp.py
Owners: @villageofthousands/core-team, @villageofthousands/dashboard-team, @villageofthousands/ui-team

Add and update documentation files
  CONTRIBUTING.md
  README.md
  docs/ENHANCED_GITHUB_INTEGRATION.md
  docs/REAL_GITHUB_AUTOMATION.md
  docs/assets/custom.css
  docs/assets/docs.js
  docs/assets/github_integration_architecture.svg
  docs/assets/github_workflow.svg
  docs/brain_architecture.md
  docs/composio_integration.md
  docs/dashboard_ai_chat.md
  docs/dashboard_ai_chat_architecture.md
  docs/github_automation.md
  docs/github_automation_complete.md
  docs/github_automation_webhooks_workflows.md
  docs/github_integration.md
  docs/improvements/dashboard_features_1741828029.md
  docs/improvements/dashboard_features_1741829160.md
  docs/improvements/three-visualization_visualization_1741828025.md
  docs/improvements/three-visualization_visualization_1741828141.md
  docs/improvements/three-visualization_visualization_1741829158.md
  docs/index.md
  docs/integrations.md
  docs/openapi_integration.md
  docs/video_demos/github_automation_demo.md
Owners: @villageofthousands/docs-team

Enhanced THREE.js visualization with interactive features and cyberpunk aesthetic
  src/vot1/dashboard/static/js/backup/three-visualization.js.backup
Owners: @villageofthousands/ui-team

Update configuration files and scripts
  .env.example
  requirements.txt
  scripts/example_usage.py
  scripts/mcp_hybrid_automation.py
  scripts/run_dashboard.py
  src/vot1/dashboard/README.md
Owners: @villageofthousands/core-team, @villageofthousands/mcp-team, @villageofthousands/docs-team

Add GitHub automation and core functionality components
  .github_automation.env.example
  CODEBASE.md
  README_GITHUB_AUTOMATION.md
  scripts/README_MCP_GITHUB.md
  scripts/commit_changes.sh
  scripts/direct_github_automation.py
  scripts/run_github_automation.py
  src/vot1/config/mcp.json
  src/vot1/core/feedback_loop.py
  tests/test_code_analyzer.py
  tests/test_development_feedback_bridge.py
  tests/test_github_webhook_workflow.py
Owners: @villageofthousands/core-team, @villageofthousands/docs-team

Add enhanced dashboard UI with chat and integration features
  src/vot1/dashboard/static/css/chat.css
  src/vot1/dashboard/static/css/integrations.css
  src/vot1/dashboard/static/js/chat.js
  src/vot1/dashboard/static/js/github-analyzer.js
  src/vot1/dashboard/static/js/integrations.js
  src/vot1/dashboard/static/js/perplexity.js
  src/vot1/dashboard/templates/index.html
Owners: @villageofthousands/ui-team, @villageofthousands/dashboard-team

Add GitHub automation scripts for enhanced repository management
  scripts/create_improvement_pr.py
  scripts/github_ecosystem_analyzer.py
  scripts/init_github_app.py
  scripts/real_github_api.py
  scripts/run_enhanced_github_automation.py
  scripts/run_real_github_automation.py
  scripts/webhook_handler.py
Owners: @villageofthousands/core-team

Add examples, integrations, and templates
  examples/composio_example.py
  examples/github_workflows/automated_documentation.yml
  examples/openapi/sample_api.yaml
  examples/openapi/sample_auth.yaml
  examples/perplexity_search_example.py
  src/vot1/examples/advanced_agent.py
  src/vot1/integrations/composio/README.md
  src/vot1/integrations/composio/__init__.py
  src/vot1/integrations/composio/auth.py
  src/vot1/integrations/composio/cli.py
  src/vot1/integrations/composio/client.py
  src/vot1/integrations/composio/github.py
  src/vot1/integrations/composio/openapi.py
  src/vot1/integrations/composio/utils.py
  src/vot1/integrations/firecrawl/__init__.py
  src/vot1/integrations/firecrawl/crawler.py
  src/vot1/integrations/perplexity/__init__.py
  src/vot1/integrations/perplexity/search.py
  templates/github_workflows/python_test.yml
Owners: @villageofthousands/core-team, @villageofthousands/docs-team, @villageofthousands/integrations-team

Add utility scripts for setup, feedback loops, and integrations
  scripts/composio_cli.py
  scripts/configure_branch_protection.py
  scripts/import_openapi.py
  scripts/run_feedback_bridge.py
  scripts/run_feedback_loop.py
  scripts/run_github_bridge.py
  scripts/setup_env.sh
  scripts/update_app.sh
Owners: @villageofthousands/core-team

Add test scripts for GitHub integration and automation
  scripts/github_demo.py
  scripts/github_update_automation.py
  scripts/real_github_api_test.py
  scripts/simulate_github_integration.py
  scripts/test_github_webhook.py
  scripts/test_mcp_github_automation.py
  scripts/test_real_github_api.py
  scripts/webhook_workflow_example.py
Owners: @villageofthousands/core-team

Add requirements file for scripts
  scripts/requirements.txt
Owners: @villageofthousands/core-team

Add real automation shell script
  scripts/run_real_automation.sh
Owners: @villageofthousands/core-team

Add recovery scripts for VOT1 system
  recover_vot1.py
  recover_vot1_from_cursor.py
Owners: @villageofthousands/core-team

Add assets for documentation and UI
  assets/images/color-palette.svg
Owners: @villageofthousands/core-team

Add system reports and analytics
  reports/Kabrony_vot1_analysis_report.md
Owners: @villageofthousands/docs-team

Add tests and utility scripts for README and About page
  scripts/get_readme.py
  scripts/improve_about_us.py
  src/vot1/tests/test_chat_integration.py
Owners: @villageofthousands/core-team

Enhance ABOUT.md with impressive project details and crawl4ai comparison
  ABOUT.md
Owners: @villageofthousands/docs-team

Add comprehensive .gitignore file (Fixes #5)
  .gitignore
Owners: @villageofthousands/core-team

Add comprehensive repository setup script (Fixes #6)
  scripts/setup_repository.sh
Owners: @villageofthousands/core-team

Add enhanced GitHub integration module (Fixes #3)
  src/vot1/github_integration.py
Owners: @villageofthousands/core-team

Add VOT1 feedback and continuous improvement loop (Fixes #4)
  src/vot1/feedback_loop.py
Owners: @villageofthousands/core-team

Add Model Context Protocol (MCP) integration module (Fixes #2)
  src/vot1/mcp_integration.py
Owners: @villageofthousands/core-team

Add RESTful API for VOT1 integration (Fixes #3)
  src/vot1/api.py
Owners: @villageofthousands/core-team

Add Knowledge Retriever for efficient memory access (Fixes #5)
  src/vot1/knowledge_retriever.py
Owners: @villageofthousands/core-team

Add missing documentation (CODE_OF_CONDUCT.md, CHANGELOG.md) and update repository profile
  .github/profile/README.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
Owners: @villageofthousands/docs-team

Update .env.example with Knowledge Retriever configuration
  .env.example
Owners: @villageofthousands/core-team
